body{
    background-color: lightgray;
}
#fish{
    background-color:lightgray;
}
h1,h2,h3{
    text-align: center;
}
h3{
    font-size: 16px;
    color: 
}
h1{
    font-family:Arial, Helvetica;
    font-size: 44px;
}
.right_alligned#fish{
    position: absolute;
    top: 0px;
    right: 0px;
    
}
.left_alligned#fish{
    position: absolute;
    top: 0px;
    left: 0px;
    
}