body{
    background-color:rgb(238, 232, 170);
    border: 25px solid rgb(238, 232, 170);

}
/*
#me{
    background:  url("./me.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}
*/

h1,h2,h3{
    text-align: center;
}
h3{
    font-size: 16px;
}
h1{
    font-family:Arial, Helvetica;
    font-size: 44px;
}
p{
    text-align: left;
    font-size: 18px;
}
.right_alligned#fish{
    position: absolute;
    top: 0px;
    right: 0px;
}
.left_alligned#fish{
    position: absolute;
    top: 0px;
    left: 0px;
    
}

img:not(.no_border){
    border: 2px solid lightblue;
    
}
 embed:not(.no_border){
    border: 2px solid lightslategray;
}

#WildSlug:hover{

   background-color: blue;
   opacity: .5;
   /* figure out how to display text */
}